<!DOCTYPE html>
<html>
<head>
  <title>Mo actions</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "mo_actions/application", media: "all" %>
</head>
<body>

<% if notice %><p class="notice"><%= notice %></p><% end %>
<% if alert %><p class="alert"><%= alert %></p><% end %>

<%= yield %>

</body>
</html>
