<!DOCTYPE html>
<html>
  <head>
    <title>Mo Actions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "mo_actions/application", media: "all" %>
    <%= javascript_include_tag "mo_actions/controllers/array_field_controller", defer: true %>
  </head>

  <body>
    <main class="mo-actions-shell">
      <%= yield %>
    </main>
  </body>
</html>
